.app-quote
  padding: 5px 21px 0 5px;
  &__name
    font-size: 13px;
    font-family: "Soho Gothic Pro";
    color: #000;
    font-weight: bold;
  &__company
    padding-top: 3px;
    font-size: 11px;
    font-family: "Soho Gothic Pro";
    color: #646464;
    font-weight: 300;
  &__area
    font-size: 12px
    line-height: 18px
    padding-left: 41px
    padding-top: 15px;
    padding-right: 24px;
    &:before
      position: absolute;
      content: '\201c';
      font-size: 55px;
      font-family: "Stencil";
      color: rgba(0,0,0,0.302);
      line-height: 0.18;
      left: -2px;
      top: 29px;


  &__more
    text-align: right
    padding-right: 13px;
    padding-top: 16px;
