.app-button
  text-decoration: none
  display: inline-block
  font-size: 12.59px;
  font-family: "Soho Gothic Pro";
  color: rgb(255, 255, 255);
  height: 29px
  line-height: 27px;
  text-align: center;
  border-radius: 3px;
  background-image: linear-gradient( 90deg, #85c94e 0%, #70a942 100%);
  box-shadow: inset 0 -1px 1px 0px rgba(133, 201, 78, 0.75), inset 0 1px 1px 0px rgba(255,255,255, 0.75)
  text-shadow 1px 1px 1px rgba(0,0,0,.33)
  padding: 0 12px
  min-width: 62px
  border: 1px solid #ccc
  cursor: pointer

  &:focus
    outline: 0
  &:hover
    background-image: linear-gradient( 90deg, #6fb238 0%, #5e982f 100%);
  &:active
    background-image: linear-gradient( 90deg, #5d972f 0%, #6eb238 100%);
    box-shadow: inset 0 1px 1px 0px rgba(133, 201, 78, 0.75), inset 0 -1px 1px 0px rgba(255,255,255, 0.75)