.app-applications-widget
  &__header
    background: linear-gradient(to bottom, #7ac1df 0%,#3f8bc3 100%)
    border-top: 1px solid #2a77ac
    &-title
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33)
      color: #ffffff
      font-family: "Soho Gothic Pro"
      font-size: 29px
      font-weight: 500
      text-align: center
      padding-top: 35px;
      padding-bottom: 46px;
      margin-left: -25px
  &__content
    height 120px
    background: linear-gradient(to bottom, #f3f3f2 0%,#e3e3e3 99%)
  &__inner
    display: flex
    justify-content: space-between
    left: -18px;
    top: -25px;
    width: 682px
    margin: 0 auto
