mixin applications-widget-item(type, title)
    .app-applications-widget-item(class=attributes.class class=`app-applications-widget-item--${type}`)
        .app-applications-widget-item__content
            .app-applications-widget-item__image
            .app-applications-widget-item__title= title