extends ./../../layouts/default/layout.pug
block after-header
    +applications-widget
block main
    p.
        Mobile phone application development for businesses from all arount the world across all major smartphone platforms.
    p.
        We can take your business mobile with fast & affordable mobile application development, which could potentially deliver your products or services to millions of people.

    +text-accent("Our first class mobile application development team will design and build an application specifically for your company!")

    p.
        We can provide you with any mobile application (for iPhone, Android or Windows) be it a game, simple advertisement, educational or business application of any level of complexity.
    p.
        Smartphone's are everywhere and many of your customers will be using them, isn't it time you considered app development and took your business mobile?
    p.
        Now is the time to take your company mobile through a dedicated & branded application. Remember, while you are thinking about it, your competitors are doing it - so don't delay - take action today.

    +well()

