.app-logo
  display: flex
  align-items: center
  .app-logo__image
    padding-right: 8px
  .app-logo__title
    opacity: 0.5
    color: #181412
    font-family: "Soho Gothic Pro"
    font-size: 23px
    font-weight: 400
    line-height: 15px
    text-transform: uppercase
    top: -2px