mixin social()
    .app-social(class=attributes.class)
        +social-icon('#', 'fb')(class="app-social__icon")
        +social-icon('#', 't')(class="app-social__icon")
        +social-icon('#', 'in')(class="app-social__icon")
