mixin well()
    .app-well
        | If you're considering mobile application development, then call one of our consultants now on
        a.app-well__button(href="tel:+37129153367")
            span.app-well__button-code="+371"
            span.app-well__button-phone="2 9153367"
        | to see how you could get your business mobile
