.app-text-accent
  width: 490px
  color #333333
  font-family "Soho Gothic Pro"
  font-weight 500
  line-height 24px
  text-align: center
  margin: 0 auto;
  padding-top: 22px;
  font-size: 16.6px;
  left: 8px;
  padding-bottom: 31px;