include ./../../components/components

doctype html
html
    head
        link(rel="stylesheet", href="./css/default.css")
    body.app
        +header()(class="app__header")
        block after-header
        .app__content
            .app-main.app__main
                block main
            .app-sidebar.app__sidebar
                .app-sidebar-section.app-sidebar__section
                    +sidebar-section-header("Request for quote")(class="app-sidebar-section__header")
                    +request-form()
                .app-sidebar-section.app-sidebar__section
                    +sidebar-section-header("Client testimonials")(class="app-sidebar-section__header")
                    +quote("Jeff Richards", "YellowPages Company", "We were and still are on a mission to change the world as we know it. Six years and lots of blood, sweat, and tears later, we know how.")
        +footer()(class="app__footer")


