@import "./fonts"
@import "./../../components/styles"

html
body
  height: 100%

*
  border: none
  margin: 0
  padding: 0
  position: relative
  box-sizing: border-box

.app
  background: #fff
  font-family: 'Tahoma'
  color: #333333
  font-size: 15px
  &__header
    width: 980px
    margin: 0 auto
    height: 98px
    padding: 19px 18px 0
  &__content
    display: flex
    justify-content: space-between
    width: 980px
    margin: 0 auto
    padding: 27px 10px 0
  &__main
    width: 605px
    top: -3px;
    margin-left: 4px;
    p
      margin-bottom: 11px;
  &__sidebar
    width: 288px
  &-sidebar
    &__section
      margin-bottom: 49px